@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #banner {
  padding-left: 316px;
}

@media (max-width: 1600px) {
  main #banner {
    padding-left: 280px;
  }
}

@media (max-width: 1440px) {
  main #banner {
    padding-left: 153px;
  }
}

@media (max-width: 1200px) {
  main #banner {
    padding-left: 100px;
  }
}

@media (max-width: 900px) {
  main #banner {
    padding-left: 0px;
  }
}

main #banner .banner-container .sub-section {
  height: auto;
  width: auto;
  position: relative;
}

main #banner .banner-container .sub-section .tittle-en {
  color: #004098;
  font-size: 68px;
  font-weight: 300;
  letter-spacing: 0.18em;
  line-height: 118px;
  z-index: 3;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .tittle-en {
    position: absolute;
    margin-top: 10%;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
  }
}

main #banner .banner-container .sub-section .tittle-ch {
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #B4B4B4;
  letter-spacing: 0.06em;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .tittle-ch {
    position: absolute;
    z-index: 3;
    color: white;
    margin-left: 5%;
    margin-top: 25%;
  }
}

main #banner .banner-container .sub-section .scroll-box {
  position: absolute;
  left: 0;
  bottom: -250%;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .scroll-box {
    z-index: 1;
    top: 600px;
    left: 0;
    margin-left: 5%;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-img {
  width: 24px;
  height: 100px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-img {
    z-index: 10;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-img img {
    z-index: 10;
  }
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-text {
    z-index: 10;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  orientation: mixed;
  color: #004098;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-text span {
    z-index: 10;
    color: white;
  }
}

main #banner .banner-container .sub-section .sup-bg {
  width: 1064px;
  height: 476px;
  z-index: -1;
  position: absolute;
  top: 68px;
  left: 95px;
}

@media (max-width: 1600px) {
  main #banner .banner-container .sub-section .sup-bg {
    width: 950px;
    height: 400px;
  }
}

@media (max-width: 1440px) {
  main #banner .banner-container .sub-section .sup-bg {
    width: 840px;
    height: 376px;
  }
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .sup-bg {
    display: none;
  }
}

main #banner .banner-container .sub-section .sup-bg .color-block {
  background-color: #ebf3ff;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  main #banner .banner-container .sub-section .sup-bg .color-block {
    display: none;
  }
}

main #banner .banner-container .main-section {
  padding-left: 250px;
}

@media (max-width: 1200px) {
  main #banner .banner-container .main-section {
    padding-left: 150px;
  }
}

@media (max-width: 900px) {
  main #banner .banner-container .main-section {
    padding-left: 0;
  }
}

main #banner .banner-container .main-section .banner-img {
  max-width: 1178px;
  min-width: 930px;
  min-height: 518px;
  width: auto;
  height: auto;
  margin-left: auto;
  position: relative;
}

@media (max-width: 900px) {
  main #banner .banner-container .main-section .banner-img {
    max-width: unset;
    min-width: unset;
    max-height: 827px;
    min-height: unset;
    margin-right: unset;
    width: calc(100vw -17px);
    height: 100%;
  }
}

main #banner .banner-container .main-section .banner-img .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  main #banner .banner-container .main-section .banner-img .img img {
    min-height: 827px;
  }
}

main #banner .banner-container .main-section .banner-img .img .main-img-color {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 64, 152, 0.2);
  position: absolute;
  top: 0;
  display: none;
}

@media (max-width: 900px) {
  main #banner .banner-container .main-section .banner-img .img .main-img-color {
    display: block;
  }
}

main #banner .banner-container .main-section .banner-img .page-list {
  width: 160px;
  height: 164px;
  background-color: #004098;
  color: white;
  padding: 42px 36px 36px 49px;
  position: absolute;
  top: calc(50% - 164px);
  left: -120px;
}

@media (max-width: 1700px) {
  main #banner .banner-container .main-section .banner-img .page-list {
    top: 40%;
  }
}

@media (max-width: 1440px) {
  main #banner .banner-container .main-section .banner-img .page-list {
    top: 37%;
  }
}

@media (max-width: 900px) {
  main #banner .banner-container .main-section .banner-img .page-list {
    top: unset;
    left: unset;
    bottom: -10%;
    right: 15%;
  }
}

main #banner .banner-container .main-section .banner-img .page-list ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  list-style-type: none;
}

main #banner .banner-container .main-section .banner-img .page-list ul li {
  margin-bottom: 16px;
}

main #philosophy {
  padding: 0 428px 0 393px;
  margin-top: 305px;
}

main #philosophy .philosophy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #philosophy .philosophy-container .left-section {
  margin-right: 187px;
}

main #philosophy .philosophy-container .left-section .white-space {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #philosophy .philosophy-container .left-section .white-space h1 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  orientation: mixed;
  font-size: 60px;
  color: #EAEEF3;
  line-height: 5rem;
}

main #philosophy .philosophy-container .right-section {
  padding-top: 50px;
}

main #philosophy .philosophy-container .right-section .main-container {
  margin-bottom: 40px;
}

main #philosophy .philosophy-container .right-section .main-container .tittle {
  margin-bottom: 40px;
  color: #004098;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.06em;
}

main #philosophy .philosophy-container .right-section .main-container .content {
  margin-bottom: 40px;
}

main #philosophy .philosophy-container .right-section .main-container .content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

main #philosophy .philosophy-container .right-section .main-container .content .text {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

main #philosophy .philosophy-container .right-section .main-container .content .text h6 {
  background-color: black;
  color: white;
  display: inline;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: unset;
  margin-right: 15px;
}

main #philosophy .philosophy-container .right-section .main-container p {
  margin-bottom: 40px;
}

main #philosophy .philosophy-container .right-section .subtittle-container .sbutittle {
  margin-bottom: 40px;
}

main #philosophy .philosophy-container .right-section .subtittle-container .sbutittle .icon {
  width: 13px;
}

main #philosophy .philosophy-container .right-section .subtittle-container .sbutittle .icon img {
  width: 100%;
  height: 100%;
}

main #philosophy .philosophy-container .right-section .subtittle-container .sbutittle h4 {
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

main #philosophy-img .philosophy-img-container {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #philosophy-img .philosophy-img-container .bg-color {
  width: 100%;
  height: 50%;
  background-color: #ECF4FF;
}

main #milestones {
  padding: 0 428px 0 393px;
  margin-top: 305px;
}

main #milestones .milestones-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #milestones .milestones-container .left-section {
  margin-right: 187px;
}

main #milestones .milestones-container .left-section .white-space {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #milestones .milestones-container .left-section .white-space h1 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  orientation: mixed;
  font-size: 60px;
  color: #EAEEF3;
  line-height: 5rem;
}

main #milestones .milestones-container .right-section {
  padding-top: 50px;
}

main #milestones .milestones-container .right-section .main-container .tittle {
  margin-bottom: 40px;
  color: #004098;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.06em;
}

main #milestones .milestones-container .right-section .main-container .content {
  width: calc(100vw -17px);
  margin-top: 15px;
}

main #milestones .milestones-container .right-section .main-container .content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: #B4B4B4 solid 1px;
  padding-bottom: 50px;
  padding-top: 50px;
}

main #milestones .milestones-container .right-section .main-container .content .card .date {
  margin-right: 70px;
  color: #6F8BB7;
  line-height: 30px;
}

main #milestones .milestones-container .right-section .main-container .content .card .text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.06em;
}

main #milestones-img .history-img-container {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #milestones-img .history-img-container .bg-color {
  width: 100%;
  height: 50%;
  background-color: #ECF4FF;
}

main #company-profile {
  padding: 0 428px 0 393px;
  margin-top: 305px;
}

main #company-profile .company-profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #company-profile .company-profile-container .left-section {
  margin-right: 187px;
}

main #company-profile .company-profile-container .left-section .white-space {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #company-profile .company-profile-container .left-section .white-space h1 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  orientation: mixed;
  font-size: 60px;
  color: #EAEEF3;
  line-height: 5rem;
}

main #company-profile .company-profile-container .right-section {
  padding-top: 50px;
}

main #company-profile .company-profile-container .right-section .main-container .tittle {
  margin-bottom: 40px;
  color: #004098;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.06em;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .company-name::before {
  content: '公司名稱';
  display: inline-block;
  width: auto;
  height: auto;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .company-name::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .build-data::before {
  content: '設立時間';
  display: inline-block;
  width: auto;
  height: auto;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .build-data::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .address::before {
  content: '地址';
  display: inline-block;
  width: auto;
  height: auto;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .address::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .opening-hours::before {
  content: '營業時間';
  display: inline-block;
  width: auto;
  height: auto;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .opening-hours::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .tel::before {
  content: '聯絡電話';
  display: inline-block;
  width: auto;
  height: auto;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .tel::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .service-items ul {
  display: inline;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .service-items ul li {
  display: inline;
  list-style-type: none;
}

main #company-profile .company-profile-container .right-section .main-container .content .card .service-items::before {
  content: '服務項目';
  display: inline-block;
  width: auto;
  height: auto;
}

main #company-profile #location-map {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

main #company-profile #location-map iframe {
  width: 70vw;
  height: 400px;
}
/*# sourceMappingURL=a.css.map */