@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

main #banner {
  width: 100%;
  min-height: 70vh;
  position: relative;
  padding-top: 300px;
  padding-left: 15%;
}

main #banner .tittle-en {
  color: #004098;
  font-size: 68px;
  font-weight: 300;
  letter-spacing: 0.18em;
  line-height: 118px;
}

main #banner .tittle-ch {
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #B4B4B4;
  float: left;
  letter-spacing: 0.06em;
}

main #banner .sup-bg {
  background-color: #ECF4FF;
  width: 1064px;
  height: 476px;
  z-index: -1;
  float: left;
  position: absolute;
  top: 33.3%;
  left: 21%;
}

main #banner .banner-img {
  width: 1178px;
  min-width: 978px;
  height: 656px;
  background-color: aquamarine;
  z-index: 0;
  position: relative;
  margin-left: auto;
}

main #banner .banner-img .page-list {
  width: 160px;
  height: 164px;
  background-color: #004098;
  color: white;
  padding: 42px 36px 36px 49px;
  position: absolute;
  top: 50%;
  left: -120px;
}

main #banner .banner-img .page-list ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  list-style-type: none;
}

main #banner .banner-img .page-list ul li {
  margin-bottom: 16px;
}

main #philosophy .tittle {
  font-size: 30px;
  letter-spacing: 0.06em;
  color: #004098;
}

main #philosophy .content .text {
  margin-bottom: 15px;
}

main #philosophy .content .text h6 {
  background-color: black;
  color: white;
  display: inline;
  padding: 3px 10px;
}

main #philosophy-img {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #philosophy-img .bg-color {
  width: 100%;
  height: 50%;
  background-color: #ECF4FF;
}

main #history .content {
  width: calc(100vw -17px);
}

main #history .content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #history .content .card::after {
  display: block;
  content: '';
  background-color: gray;
  width: 100%;
  height: 1px;
  margin-top: 30px;
}

main #history-img {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #history-img .bg-color {
  width: 100%;
  height: 50%;
  background-color: #ECF4FF;
}

main #companyProfile .content .card .companyName::before {
  content: '公司名稱';
  display: inline-block;
  width: auto;
  height: auto;
}

main #companyProfile .content .card .companyName::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #companyProfile .content .card .buildData::before {
  content: '設立時間';
  display: inline-block;
  width: auto;
  height: auto;
}

main #companyProfile .content .card .buildData::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #companyProfile .content .card .address::before {
  content: '地址';
  display: inline-block;
  width: auto;
  height: auto;
}

main #companyProfile .content .card .address::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #companyProfile .content .card .openingHours::before {
  content: '營業時間';
  display: inline-block;
  width: auto;
  height: auto;
}

main #companyProfile .content .card .openingHours::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #companyProfile .content .card .tel::before {
  content: '聯絡電話';
  display: inline-block;
  width: auto;
  height: auto;
}

main #companyProfile .content .card .tel::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

main #companyProfile .content .card .serviceItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

main #companyProfile .content .card .serviceItems ul {
  display: inline;
}

main #companyProfile .content .card .serviceItems ul li {
  display: inline;
  list-style-type: none;
}

main #companyProfile .content .card .serviceItems::before {
  content: '服務項目';
  display: inline-block;
  width: auto;
  height: auto;
}
/*# sourceMappingURL=a.css.map */