* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

    body {
        /* 先套用 Noto Sans TC 這個 思源黑體 */
        font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    }
}


main {

    // Banner大圖
    #banner {
        width: 100%;
        min-height: 70vh;
        position: relative;
        padding-top: 300px;
        padding-left: 15%;
        .tittle-en {
            color: #004098;
            font-size: 68px;
            font-weight: 300;
            letter-spacing: 0.18em;
            line-height: 118px;
        }

        .tittle-ch {
            font-weight: 500;
            font-size: 40px;
            line-height: 59px;
            color: #B4B4B4;
            float: left;
            letter-spacing: 0.06em;
        }

        .sup-bg {
            background-color: #ECF4FF;
            width: 1064px;
            height: 476px;
            z-index: -1;
            float: left;
            position: absolute;
            top: 33.3%;
            left: 21%;
        }

        .banner-img {
            width: 1178px;
            min-width: 978px;
            height: 656px;
            background-color: aquamarine;
            z-index: 0;
            position: relative;
            margin-left: auto;
            .page-list {
            width: 160px;
            height: 164px;
            background-color: #004098;
            color: white;
            padding: 42px 36px 36px 49px;
            position: absolute;
            top: 50%;
            left: -120px;
            ul {
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                list-style-type: none;

                li {
                    margin-bottom: 16px;
                }
            }
        }
        }

        
    }

    // 經營理念
    #philosophy {
        .tittle {
            font-size: 30px;
            letter-spacing: 0.06em;
            color: #004098
        }

        .content {
            .text {
                margin-bottom: 15px;

                h6 {
                    background-color: black;
                    color: white;
                    display: inline;
                    padding: 3px 10px;
                }

            }
        }
    }

    // 經營理念圖
    #philosophy-img {
        height: 65vh;
        display: flex;
        align-items: center;

        .bg-color {
            width: 100%;
            height: 50%;
            background-color: #ECF4FF;
        }
    }

    // 公司沿革
    #history {
        .content {
            width: calc(100vw -17px);

            .card {

                display: flex;
                width: 50%;
                flex-wrap: wrap;

                &::after {
                    display: block;
                    content: '';
                    background-color: gray;
                    width: 100%;
                    height: 1px;
                    margin-top: 30px;
                }
            }
        }
    }

    // 公司沿革圖
    #history-img {
        height: 65vh;
        display: flex;
        align-items: center;

        .bg-color {
            width: 100%;
            height: 50%;
            background-color: #ECF4FF;
        }
    }

    // 公司簡介
    #companyProfile {
        .content {
            .card {
                .companyName {
                    &::before {
                        content: '公司名稱';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }
                }

                .buildData {
                    &::before {
                        content: '設立時間';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .address {
                    &::before {
                        content: '地址';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .openingHours {
                    &::before {
                        content: '營業時間';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .tel {
                    &::before {
                        content: '聯絡電話';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .serviceItems {
                    display: flex;
                    border-bottom: 1px solid black;
                    padding-bottom: 50px;

                    ul {
                        display: inline;

                        li {
                            display: inline;
                            list-style-type: none;
                        }
                    }

                    &::before {
                        content: '服務項目';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }


                }
            }
        }
    }

    // 公司地圖
    #locationMap {}


}