* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {

    // Banner大圖
    #banner {
        width: 100%;
        min-height: 70vh;

        .tittle-en {
            color: #004098;
            font-size: 80px;
            font-weight: 700;
            letter-spacing: 0.18em;
        }

        .tittle-ch {
            font-weight: 500;
            font-size: 40px;
            line-height: 59px;
            color: #B4B4B4;
            float: left;
            letter-spacing: 0.06em;
        }

        .sup-bg {
            background-color: #ECF4FF;
            width: 840px;
            height: 376px;
            z-index: -1;
            float: left;
        }

        .banner-img {
            width: 930px;
            height: 518px;
            background-color: aquamarine;
            z-index: 0;
        }

        .page-list {
            width: 160px;
            height: 164px;
            background-color: #004098;
            color: white;
            padding: 42px 36px 36px 49px;

            ul {
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                list-style-type: none;

                li {
                    margin-bottom: 16px;
                }
            }
        }
    }

    // 經營理念
    #philosophy {
        .tittle {
            font-size: 30px;
            letter-spacing: 0.06em;
            color: #004098
        }

        .content {
            .text {
                margin-bottom: 15px;

                h6 {
                    background-color: black;
                    color: white;
                    display: inline;
                    padding: 3px 10px;
                }

            }
        }
    }

    // 經營理念圖
    #philosophy-img {
        height: 65vh;
        display: flex;
        align-items: center;

        .bg-color {
            width: 100%;
            height: 50%;
            background-color: #ECF4FF;
        }
    }

    // 公司沿革
    #history {
        .content {
            width: 100vw;

            .card {
                .date {}

                display: flex;
                width: 50%;
                flex-wrap: wrap;

                &::after {
                    display: block;
                    content: '';
                    background-color: gray;
                    width: 100%;
                    height: 1px;
                    margin-top: 30px;
                }
            }
        }
    }

    // 公司沿革圖
    #history-img {
        height: 65vh;
        display: flex;
        align-items: center;

        .bg-color {
            width: 100%;
            height: 50%;
            background-color: #ECF4FF;
        }
    }

    // 公司簡介
    #companyProfile {
        .content {
            .card {
                .companyName {
                    &::before {
                        content: '公司名稱';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }

                .buildData {
                    &::before {
                        content: '設立時間';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }

                .address {
                    &::before {
                        content: '地址';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }

                .openingHours {
                    &::before {
                        content: '營業時間';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }

                .tel {
                    &::before {
                        content: '聯絡電話';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }

                .serviceItems {
                    &::before {
                        content: '服務項目';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }

    // 公司地圖
    #locationMap {}


}