@import "./template.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
}


main {

    // Banner大圖
    #banner {
        padding-left: 316px;

        @include screen1600 {
            padding-left: 280px;
        }

        @include screen1440 {
            padding-left: 153px;
        }

        @include pad {
            padding-left: 0;
        }

        .banner-container {
            .sub-section {
                position: relative;

                .tittle-en {
                    color: $themeColor;
                    font-size: 68px;
                    font-weight: 300;
                    letter-spacing: 0.18em;
                    line-height: 118px;
                    z-index: 3;

                    @include pad {
                        position: absolute;
                    }
                }

                .tittle-ch {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 59px;
                    color: #B4B4B4;
                    letter-spacing: 0.06em;

                    @include pad {
                        position: absolute;
                        z-index: 3;
                    }
                }

                .scroll-box {
                    position: absolute;
                    left: 0;
                    bottom: -250%;

                    .scroll-img {
                        width: 24px;
                        height: 100px;
                        margin-bottom: 30px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .scroll-text {
                        span {
                            writing-mode: vertical-lr;
                            orientation: mixed;
                            color: $themeColor;
                        }
                    }
                }


                .sup-bg {
                    width: 1064px;
                    height: 476px;
                    z-index: -1;
                    position: absolute;
                    top: 68px;
                    left: 95px;

                    @include screen1600 {
                        width: 950px;
                        height: 400px;
                    }

                    @include screen1440 {
                        width: 840px;
                        height: 376px;
                    }

                    .color-block {
                        background-color: #ebf3ff;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .main-section {
                padding-left: 250px;

                @include pad {
                    padding-left: 0;
                }

                .banner-img {
                    max-width: 1178px;
                    min-width: 930px;
                    min-height: 518px;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    margin-left: auto;
                    position: relative;

                    @include pad {
                        max-width: unset;
                        min-width: 100vw;
                        min-height: unset;
                        margin-right: unset;
                        width: calc(100vw -17px);
                        height: 100vh;
                    }

                    .img {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .page-list {
                        width: 160px;
                        height: 164px;
                        background-color: $themeColor;
                        color: white;
                        padding: 42px 36px 36px 49px;
                        position: absolute;
                        top: calc(50% - 164px);
                        left: -120px;

                        @include screen1700 {
                            top: 40%;
                        }

                        @include screen1440 {
                            top: 37%;
                        }

                        ul {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 22px;
                            list-style-type: none;

                            li {
                                margin-bottom: 16px;
                            }
                        }
                    }




                }
            }
        }
    }

    // 經營理念
    #philosophy {
        padding: 0 300px;

        .tittle {
            font-size: 30px;
            letter-spacing: 0.06em;
            color: $themeColor
        }

        .content {
            .text {
                margin-bottom: 15px;

                h6 {
                    background-color: black;
                    color: white;
                    display: inline;
                    padding: 3px 10px;
                }

            }
        }
    }

    // 經營理念圖
    #philosophy-img {

        height: 65vh;
        display: flex;
        align-items: center;

        .bg-color {
            width: 100%;
            height: 50%;
            background-color: #ECF4FF;
        }
    }

    // 公司沿革
    #history {
        padding: 0 300px;

        .content {
            width: calc(100vw -17px);

            .card {
                display: flex;
                width: 50%;
                flex-wrap: wrap;

                &::after {
                    display: block;
                    content: '';
                    background-color: gray;
                    width: 100%;
                    height: 1px;
                    margin-top: 30px;
                }
            }
        }
    }

    // 公司沿革圖
    #history-img {

        height: 65vh;
        display: flex;
        align-items: center;

        .bg-color {
            width: 100%;
            height: 50%;
            background-color: #ECF4FF;
        }
    }

    // 公司簡介
    #company-profile {
        padding: 0 300px;

        .content {
            .card {
                .company-name {
                    &::before {
                        content: '公司名稱';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }
                }

                .build-data {
                    &::before {
                        content: '設立時間';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .address {
                    &::before {
                        content: '地址';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .opening-hours {
                    &::before {
                        content: '營業時間';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .tel {
                    &::before {
                        content: '聯絡電話';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }

                }

                .service-items {
                    display: flex;
                    border-bottom: 1px solid black;
                    padding-bottom: 50px;

                    ul {
                        display: inline;

                        li {
                            display: inline;
                            list-style-type: none;
                        }
                    }

                    &::before {
                        content: '服務項目';
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }


                }
            }
        }
    }

    // 公司地圖
    #location-map {
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        iframe {
            width: 70vw;
            height: 400px;
        }
    }


}