* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 導覽列

// 內容

main {
    #page-tittle {
        .tittle {
            color: blue;
        }
    }

    #form-report {
        background-color: #F7F8FA;
        height: auto;
        padding-bottom: 50px;
        .content {
            
            .content-tittle {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-bottom: 15px;
                padding-top: 50px;
                .type {
                    width: 180px;
                    height: 20px;
                    margin-right: 15px;
                }

                .name {
                    width: 180px;
                    height: 20px;
                    margin-right: 15px;
                }

                .email {
                    width: 428px;
                    height: 20px;
                    margin-right: 15px;
                }

                .state {
                    width: 207px;
                    height: 20px;
                    margin-right: 15px;
                }

                .comment-date {
                    width: 207px;
                    height: 20px;
                    margin-right: 15px;
                }
            }

            .box {
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 50px;
                margin-top: 35px;
                .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    height: 121px;
                    background-color: white;

                    input {
                        width: 100%;
                        height: 100%;
                    }

                    .box1 {
                        background-color: aqua;
                        width: 180px;
                        height: 42px;
                        margin-right: 15px;
                    }

                    .box2 {
                        background-color: red;
                        width: 428px;
                        height: 42px;
                        margin-right: 15px;
                    }

                    .box3 {
                        background-color: aquamarine;
                        width: 207px;
                        height: 42px;
                        margin-right: 15px;
                    }
                }

            }
        }
    }
}